.logo-img {
    width: auto !important;
    max-height: 100%;
    max-width: 140px !important;
}

.thumbnail-img {
    max-width: 100px;
}

.upload-file-label {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
}

.table-content-list {
    text-align: center;
}

.table-content-list img {
    border-radius: 0 !important;
}

.table td {
    max-width: 100px;
}

.table-content-list td:nth-of-type(1), .table-content-list th:nth-of-type(1),
.table-content-list td:nth-of-type(2), .table-content-list th:nth-of-type(2),
.table-content-list td:nth-of-type(4), .table-content-list th:nth-of-type(4),
.table-content-list td:nth-of-type(5), .table-content-list th:nth-of-type(5),
.table-content-list td:nth-of-type(6), .table-content-list th:nth-of-type(6),
.table-content-list td:nth-of-type(7), .table-content-list th:nth-of-type(7),
.table-content-list td:nth-of-type(8), .table-content-list th:nth-of-type(8),
.table-content-list td:nth-of-type(9), .table-content-list th:nth-of-type(9)
{
    padding-left: 10px;
    padding-right: 10px;
    width: 10px;
}

.table-content-list td:nth-of-type(3) {
    overflow: auto;
}

/* .table-content-list td:nth-of-type(7) {
    padding-left: 0;
    padding-right: 0;
    width: 1px;
}

.table-content-list td:nth-of-type(8) {
    padding-left: 0;
    padding-right: 0;
}

.table-content-list td:nth-of-type(9) {
    padding-left: 0;
    padding-right: 0;
    width: 1px;
} */

.modal-outer {
    display: flex;
    justify-content: space-around;
}

.media-items {
    width: 30%;
    margin-right: 20px;
    text-align: center;
}

.media-items img, .media-items video {
    max-width: 100%;
}

.media-items img {
    margin: auto auto 20px;
    height: 100px;
    display: block;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 1000px;
    }
}

.modal-sm {
    max-width: 450px;
}

.modal-footer {
    padding: 7px;
}

.modal-note {
    font-size: 14px;
}

.img-ss, .table td img:not(.thumb-image), .table th img:not(.thumb-image) {
    width: 35px;
    height: unset;
}

.validation-msg{
    color: red;
    margin-left: 15px;
}

/* ===================== Loader CSS ===================== */

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    width: 50px;
    height: 50px;
    /* margin: -75px 0 0 -75px; */
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    /* width: 120px;
    height: 120px; */
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader {
    display: none;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.load-percentage {
    position: fixed;
    left: 50.5%;
    bottom: 34%;
    z-index: 9999;
    background: #f3f3f3;
    border-radius: 5px;
}

.load-percentage span {
    color: #3498db;
    padding: 5px;
}

/* ===================== Select2 (Select with search) CSS ===================== */
.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #ccc !important; 
    border-radius: 0px !important; 
}

.select2-container--default{
    width: 100% !important;
}

.select2-outer label {
    display: none;
}